{% extends "base.html" %}
{% block title %}Профиль{% endblock %}
{% block content %}
<h2>Мой профиль</h2>
<ul class="list-group">
  <li class="list-group-item"><strong>Email:</strong> {{ user.email }}</li>
  <li class="list-group-item"><strong>Телефон:</strong> {{ user.phone }}</li>
  <li class="list-group-item"><strong>Страна:</strong> {{ user.country }}</li>
  <li class="list-group-item">
    <strong>Аватар:</strong><br>
    {% if user.avatar %}
      <img src="{{ user.avatar.url }}" width="100">
    {% else %}
      Нет аватара
    {% endif %}
  </li>
</ul>
<a href="{% url 'users:edit_profile' %}" class="btn btn-warning mt-3">Редактировать</a>
{% endblock %}
